/* 
    Document   : main
    Created on : 12-nov-2012, 18:55:23
    Author     : xel51
    Description:
        Purpose of the stylesheet follows.
*/

a:hover {
    text-decoration: none;
}

.mainView {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    z-index: 0;
    
    -webkit-transition: top .50s ease, left .50s ease;
       -moz-transition: top .50s ease, left .50s ease;
        -ms-transition: top .50s ease, left .50s ease;
         -o-transition: top .50s ease, left .50s ease;
            transition: top .50s ease, left .50s ease;
            
    background-color: #AAA;
}

.mainView {
    background: #5497c4;
    background: -moz-radial-gradient(center, circle cover, #EFEFEF 0%, #5497c4 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #EFEFEF), color-stop(100%, #5497c4));
    background: -webkit-radial-gradient(center, circle cover, #EFEFEF 0%, #5497c4 100%);
    background: -o-radial-gradient(center, circle cover, #EFEFEF 0%, #5497c4 100%);
    background: -ms-radial-gradient(center, circle cover, #EFEFEF 0%, #5497c4 100%);
    background: radial-gradient(center, circle cover, #EFEFEF 0%, #5497c4 100%);
    background-color: #2b2b2b;
}


.mainView.red {
    background: #4586b2;
    background: -moz-radial-gradient(center, circle cover, #EFEFEF 0%, #4586b2 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #EFEFEF), color-stop(100%, #4586b2));
    background: -webkit-radial-gradient(center, circle cover, #EFEFEF 0%, #4586b2 100%);
    background: -o-radial-gradient(center, circle cover, #EFEFEF 0%, #4586b2 100%);
    background: -ms-radial-gradient(center, circle cover, #EFEFEF 0%, #4586b2 100%);
    background: radial-gradient(center, circle cover, #EFEFEF 0%, #4586b2 100%);
    background-color: #2b2b2b;
}

.mainView.current {
    top: 0;
}

.playContainer {
	position: relative;
	width: 40%;
	height: 60%;
	margin: 0 auto;
	top: 20%;
        z-index: 1;
}

.playBtn {
	width: 358px;
	height: 358px;
	border-radius: 50%;
	border: 21px solid #464646;
	background-color: #b5b5b5;

	position: absolute;
	top: 50%;
	left: 200%;
	opacity: 1;
	margin-top: -190px;
	margin-left: -100px;
	z-index: 0;
}

.playBtn:hover {
	cursor: pointer;
	opacity: 0.5 !important;
}

.myAvatar {
	position: absolute;
	height: 100%;
	left: 50%;
	margin: 0 0 0 -25%;
	/*margin-top: -240px;*/
	z-index: 2;
	opacity: 1;
	bottom: 0;

	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
	
}

.myAvatar:hover  {
	height: 90%;
	/*top: 5%;*/
	margin-left: -23%;
	cursor: pointer;
}

.reveal {
    top: 100%;

    z-index: 1001;

    -webkit-transition: top .50s ease, left .50s ease;
       -moz-transition: top .50s ease, left .50s ease;
        -ms-transition: top .50s ease, left .50s ease;
         -o-transition: top .50s ease, left .50s ease;
            transition: top .50s ease, left .50s ease;
}
.current {
    top: 0 !important;
    left: 0 !important;
    /*z-index: 1000 !important;*/
}

.cv {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    
    z-index: 10;
    background-color: #FFF;
    
    -webkit-transition: top .50s ease, left .50s ease;
       -moz-transition: top .50s ease, left .50s ease;
        -ms-transition: top .50s ease, left .50s ease;
         -o-transition: top .50s ease, left .50s ease;
            transition: top .50s ease, left .50s ease;
}

.coverLetter {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    
    z-index: 10;
    background-color: #000;
    
    -webkit-transition: top .50s ease, left .50s ease;
       -moz-transition: top .50s ease, left .50s ease;
        -ms-transition: top .50s ease, left .50s ease;
         -o-transition: top .50s ease, left .50s ease;
            transition: top .50s ease, left .50s ease;
}

.toLeft {
    left: -100%;
}
.toRight {
    left: 100%;
}


/*
/	Meny Menu
*/

.contents {
	position: absolute;
	overflow: hidden !important;
	padding: 0 !important;
}


/*
*	Codix 
*/

.codixContainer .codixLine {

	position: absolute;
	display: inline-block;
	top: 0px;
	font-size: 18px;
	width: 500px;
	text-rendering: optimizeSpeed;
	color: #003355;

	-webkit-transform: rotateZ(-90deg);
	   -moz-transform: rotateZ(-90deg);
	    -ms-transform: rotateZ(-90deg);
	     -o-transform: rotateZ(-90deg);
	        transform: rotateZ(-90deg);
}